/* Configurações gerais para todos os elementos: estilo da caixa, cor do texto e fontes */
* {
    box-sizing: border-box; /* Garante que o padding e a borda não aumentem o tamanho total dos elementos */
    color: #253439; /* Cor do texto padrão */
    font-family: "Quicksand", sans-serif; /* Fonte usada para todo o texto */
    font-optical-sizing: auto; /* Ajusta automaticamente o tamanho da fonte para diferentes dispositivos */
    font-weight: 500; /* Peso da fonte padrão */
    font-style: normal; /* Estilo da fonte padrão (sem itálico) */
}

/* Estilos para o body da página */
body {
    scrollbar-width: thin;  /* Barra de rolagem mais fina no Firefox */
    scrollbar-color: #212121;  /* Cor personalizada para a barra de rolagem no Firefox */
    display: flex; /* Define um layout flexível */
    flex-direction: column; /* Empilha os elementos na vertical */
    min-height: 100vh; /* Garante que o body ocupe toda a altura da janela */
    margin: 0; /* Remove a margem padrão */
}

/* Faz o conteúdo principal crescer para ocupar o espaço disponível */
main {
    flex-grow: 1;
}

/* Garante que a barra de navegação ocupe toda a altura disponível */
.navbar {
    height: 100%;
}

/* Estilo para o título h1 */
h1 {
    font-family: 'Pacifico', cursive;  /* Fonte estilizada para o título */
    font-style: normal; /* Define o estilo da fonte como normal */
}

/* Estilo para imagens com a classe img-sol */
.img-sol {
    outline: solid 2px #b29e84; /* Adiciona um contorno dourado à imagem */
}

/* Estilos para a área de apresentação */
.titulo-login {
    position: relative;
    text-align: center; /* Centraliza o conteúdo */
}

/* Estiliza o texto dentro da área de apresentação */
.titulo-texto-login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centraliza perfeitamente o texto */
    font-size: 5vw;  /* Tamanho da fonte relativo à largura da tela */
    color: white; /* Cor do texto */
    font-weight: bold; /* Peso da fonte */
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.6); /* Adiciona uma sombra ao texto */
    font-family: "Pacifico", cursive; /* Fonte personalizada */
}

/* Estilos para os elementos de sucesso (bg-success e btn-success) */
.bg-success, .btn-success {
    background-color: #245153 !important;  /* Cor de fundo verde escuro */
    border-color: #245153;  /* Cor da borda verde escura */
}

/* Estilo para o botão de contorno (btn-outline-success) */
.btn-outline-success {
    color: #245153;  /* Cor do texto */
    border-color: #245153;  /* Cor da borda */
}

/* Estilos para o botão de sucesso com contorno quando é hoverizado */
.btn-outline-success:hover {
    background-color: #245153;  /* Cor de fundo verde escuro */
    border-color: #245153;  /* Cor da borda */
}

/* Estilos para o texto de sucesso */
.text-success {
    color: #245153; /* Cor do texto verde escuro */
}

/* Estilo para o botão com ícone (como um botão de ícone com texto em negrito) */
.bt-icon {
    font-weight: bold; /* Deixa o texto do ícone em negrito */
}

/* Estilo para o título das cards */
.card-title {
    font-weight: bold; /* Títulos das cards em negrito */
}

/* Estilos para o corpo das cards */
.card-body {
    min-height: 165px; /* Altura mínima do corpo da card */
    max-height: 185px; /* Altura máxima do corpo da card */
}

/* Estilo específico para o corpo da card com classe 'cd-title' */
.card-body.cd-title {
    min-height: 45px; /* Altura mínima para o corpo de cards com título */
    padding: 5px; /* Espaçamento interno de 5px */
}

/* Estilos para o botão de login */
#botao-login span {
    padding: 10px; /* Define o espaçamento interno do botão */
    border: solid 1px; /* Borda sólida ao redor do botão */
    border-radius: 2px; /* Cantos arredondados no botão */
}

/* Efeito hover para o botão de login */
#botao-login span:hover {
    background-color: #e6e6e6; /* Muda a cor de fundo para cinza claro no hover */
    transition: background 0.4s ease; /* Adiciona uma transição suave de 0.4s */
}

/* Estilos personalizados para a barra de rolagem (para navegadores baseados em Webkit, como Chrome e Safari) */
::-webkit-scrollbar {
    width: 6px;  /* Largura da barra de rolagem vertical */
    height: 6px;  /* Altura da barra de rolagem horizontal */
}

/* Estilo para o trilho da barra de rolagem (área onde a barra se move) */
::-webkit-scrollbar-track {
    background-color: #212121; /* Cor do fundo do trilho */
}

/* Estilo para o "thumb" da barra de rolagem (parte que se move) */
::-webkit-scrollbar-thumb {
    background-color: #b29e84; /* Cor do thumb (parte visível da barra) */
    border-radius: 10px; /* Arredonda os cantos do thumb */
}

/* Efeito hover para o thumb da barra de rolagem */
::-webkit-scrollbar-thumb:hover {
    background-color: #b29e84a9; /* Muda a cor do thumb quando é hoverizado */
}

/* Estilo para os botões da barra de rolagem */
::-webkit-scrollbar-button {
    background-color: #212121; /* Cor dos botões da barra de rolagem */
}