/* Configurações gerais para todos os elementos: estilo da caixa, cor do texto e fontes */
* {
    box-sizing: border-box;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

/* Estilização do body para garantir um layout flexível e ocupar toda a altura */
body {
    background-color: #FFF; 
    scrollbar-width: thin;
    scrollbar-color: #3E3A34;
    color: #3E3A34;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}


/* Cores dos links do menu */
.nav-link, 
.navbar-brand, 
.dropdown-item, 
h2 {
    color: #3E3A34;
}

.nav-link:hover {
    color: #81ad6a;
    background-color: #FFF;
}

.bg-warning { 
    background-color: #D4A59A !important;
}

.btn-outline-warning {
    border-color: #debaa5;
    color: #4b3c32;
}

.btn-warning:hover, 
.btn-outline-warning:hover, 
.btn-outline-warning:active {
    background-color: #C8958A !important;
    border-color: #C8958A !important;
    color: white !important;
}

.link-warning, 
.link-warning:hover, 
.link-warning:visited {
    color: #4b3c32 !important;
    text-decoration-color: #4b3c32 !important;
}

.form-check-input:checked {
    background-color: #3E3A34;
    border-color: #3E3A34;
}

.form-check-input:focus, 
.form-control:focus,
.form-select:focus { 
    border-color: #A3B899;
    box-shadow: 0 0 0 0.25rem rgba(163, 184, 153, 0.5);
}

.footer-link:hover {
    color: #7a7a7a !important;
}

/*MAIN*/

/*HERO SECTION*/

.hero-section{
    background-color:#f9f9f9 ;
    padding: 130px 40px;
    text-align: center;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 30px
}
.hero-title{
    font-size: 3rem;
    font-weight: 26px;
    color: #050505;
    max-width: 690px;
}

.hero-subtitle{
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    color: #050505;
    max-width: 455px;
}
.search-container{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px;

}
.search-container input{
    border-radius: 50px 0 0 50px;
    flex: 1;
}

#pesquisa{
    width: 700px;
}

.search-container .btn-search {
    border-radius: 0 50px 50px 0;
    padding: 0 15px;
    font-size: 20px;
}

.trending-title{
    font-size: 1rem;
    font-weight: 100;
    color:#7a7a7a;
}

.trending-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px
}

.trending-searches .badge{
    font-size: 0.875rem;
    background-color: #f3f3f6;
    color:#050505;
    padding: 10px 15px;
    border-radius: 50px;
    text-decoration: none;
    transition: all 0.5s ease;
}

.trending-searches .badge:hover{
    background-color: #7a7a7a;
    color:#050505;

}
/*DESTAQUES*/

#featured-container {
    margin-bottom: 4em;
}

.title {
    font-size: 1.75em;
    margin-bottom: .4em;
    position: relative;
}

.title:before {
    width: 75px;
    border-top: 4px solid #7a7a7a;
    content: "";
    position: absolute;
    bottom: 2em;
}
.card-body a{
    text-decoration: none;
}

#featured-images {
    margin-top: 2em;
}

#featured-images .col-md-4 {
    position: relative;
    cursor: pointer;
}

#featured-images .image-container {
    position: relative;
    overflow: hidden; 
}

#featured-images .image-container img {
    width: 100%;
    display: block;
}

#featured-images .banner-content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0; 
    transition: opacity 0.5s ease;
}

/* Exibe o conteúdo apenas no hover da imagem */
#featured-images .image-container:hover .banner-content {
    opacity: .7; 
    background-color: #ece8ea;
    color: #050505;
}

@media(min-width: 768px){
    .title{
        font-size: 2.4em;
    }
    .title:before{
        bottom: 1.5em;
    }

    #featured-images .banner-content{
        opacity: 0;
    }
}

/*INFO*/

#info-content{
    margin-bottom: 4em;
    padding: 4em 1em;
}

#info-number{
    margin: 1.5em 0;
}

#info-banner{
    display: flex;
    align-items: center;
    margin-bottom: 2.5em;
}

#info-number h3{
    font-size: 3em;
}

@media(min-width: 768px){
    #info-content{
        padding: 3.5em;
    }
}

/*FOOTER TOP*/
#footer{ 
    padding: 3em 2em; 
    background-color: #3E3A34;
}

#footer-top{
    margin-bottom: 2em;
}

#footer,
#footer-top i{
    color: #FFF;
}

#footer-top h2 {
    display: inline-block;
    cursor: pointer;
}

#social-icons{
    text-align: right;
}

#social-icons i{
    margin-right: 1em;
    font-size: 1.5em;
    cursor: pointer;
}
#social-icons i:hover{
    color: #7a7a7a;
}

/*FOOTER DETAILS*/
#footer-details{
    margin-bottom: 3em;
}

#news-container,
#contact-container,
#link-container{
    padding: 0;
    border: 0;
    margin-bottom: 2em;
}

#footer-details h4{
    color: #FFF;
    margin-bottom: 1.5em;
}

#news-container input{
    border-radius: 0;
    border: none;
}

#links-container li{
    margin-bottom: .5em;
}

#links-container a{
    text-decoration: none;
}

#links-container a:hover{
    color: #FFF;
}

/*FOOTER BOTTOM*/
#footer-bottom{
    border-top: 1px solid #7a7a7a;
    padding-top: 2em;
}

#footer-bottom i{
    color: #e61e10;
    margin-left: 0.3em;
}

@media(min-width: 768px){
    #news-container{
        padding-right: 2em;
    }
    #links-container{
        padding-left: 2em;
    }
    #contact-container{
        padding: 0 2em;
        border-left: 1px solid #7a7a7a;
        border-right: 1px solid #7a7a7a;
    }
}

/* Estilo personalizado para a barra de rolagem em navegadores baseados em Webkit (Chrome, Safari) */
::-webkit-scrollbar {
    width: 6px;  /* Largura da barra de rolagem vertical. */
    height: 6px;  /* Altura da barra de rolagem horizontal. */
}

/* Estilo do trilho da barra de rolagem (área onde a barra se move) */
::-webkit-scrollbar-track { 
    background-color: #212121; 
} /* Cor do fundo do trilho (escuro). */

/* Estilo do "thumb" (parte que se move) da barra de rolagem */
::-webkit-scrollbar-thumb {
    background-color: #b29e84;  /* Cor do "thumb" (parte móvel) em tom dourado. */
    border-radius: 10px;  /* Bordas arredondadas no "thumb". */
}

/* Estilo do "thumb" quando passa o mouse (hover) */
::-webkit-scrollbar-thumb:hover { 
    background-color: #b29e84a9; 
} /* Cor do "thumb" com transparência no hover. */

/* Estilo dos botões da barra de rolagem */
::-webkit-scrollbar-button { 
    background-color: #212121; 
} /* Cor dos botões da barra de rolagem (escuro). */